<article class="post">
    <div class="username">
        <a href="/user/{{id}}" target="_blank" class="text-warning" style="text-decoration: none">{{user.username}}</a> {{format_date created_at}}
    </div>
      <div class="text">
        {{post_text}}
      </div>
    <div class="meta">
        {{vote_count}} {{format_plural "Like" vote_count}} {{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
    {{!-- {{#if loggedIn}} --}}
    <div class="likes">
        <button id="like" class="text-warning btn"><svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg> Like</button>
    <a href="/post/{{id}}" style="text-decoration: none" target="_blank" class="text-warning">View Post</a>
   
    {{#if comments}}
    <a class="btn text-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">View Comments</a>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="overflow-auto">
                {{> comments comments}}
            </div>
        </div>
    </div>
    {{/if}}
    </div>
    {{#if loggedIn}}
    <a class="btn text-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Add Comment</a>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
           
        <form class="comment-form">
            <div>
                <textarea name="comment-body"></textarea>
            </div>

            <div>
                <button type="submit">Add Comment</button>
            </div>
        </form>
            

        </div>
    </div>
    {{/if}}

</article>






