

<div class="card-container bg-dark" id="profile-card-container">
  
  <div class="card bg-dark" id="profile-card">
    <div class="card-body bg-dark" id="profile-card-body">
      <h4 class="card-title bg-dark" id="profile-card-username">{{ username }}</h4>
      <p class="card-text bg-dark" id="profile-card-bio">{{ bio }}</p>
      <a href="mailto:{{ email }}" class="card-link bg-dark" id="profile-card-email">Email: {{ email }}</a>
      <a href="{{ linkedin }}" class="card-link bg-dark" id="profile-card-linkedin">LinkedIn: {{ linkedin }}</a>
      <a href="http://github.com/{{ github }}" class="card-link bg-dark" id="profile-card-github">Github: {{ github }}</a>
    </div>
  </div>

</div>
